@font-size: 18px;
@line-height: 24px;
@font-family: Helvetica Neue;
@font-smoothing: true;

@color: #333;
@background-color: #eee;

@baseline-grid: false;
@baseline-height: 24px;
@baseline-offset: 0;

@container-width: 600px;
@container-max-width: 88%;
